<div class="container">
    <div class="row">
        <h1 class="center">Formulario de Posts</h1>

        {{ post }}

        <form novalidate>
            <div class="input-field col s6 offset-s3">
                <input 
                    type="text"
                    class="form-control"
                    id="title"
                    required
                    name="title"
                    [(ngModel)]="model.title"
                />     
            </div>  

            <div class="input-field col s6 offset-s3">

                <textarea 
                    class="materialize-textarea"
                    id="content"
                    required
                    name="content"
                    [(ngModel)]="model.content"
                ></textarea>  
            </div>    

            <div class="col s6 offset-s3">
                <button 
                    class="btn waves-effect waves-light input-block-level"
                    type="submit"
                >
                    Submit
                </button>     
            </div>    
        </form>    
    </div>
</div>    